@import "_variables.less";

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	background-color: @white;
	font-family: 'Montserrat', sans-serif;
}

input {
		display: block;
		margin: 0;
		padding: 0 0 0.15em;
		border: none;
		border-bottom: 2px solid rgba(255,255,255,0.2);
		background-color: transparent;
		color: @white;
		text-overflow: ellipsis;
		font-weight: bold;
		font-size: 80px;
		border-radius: 0;
		text-transform: uppercase;
		transition: border-color 0.3s;

		&:focus {
			outline: none;
			border-color: rgba(255,255,255,0.4);
		}

		&:disabled {
			border-color: rgba(0, 0, 0, 0);
		}
	}

.main {
	height: 100%;
	width: 100%;
	position: relative;

	.main-inner {
		margin-right: @rightColumnWidth;
		height: 100%;
		position: relative;
	}
}

.right-column {
	position: fixed;
	height: 100%;
	width: @rightColumnWidth;
	right: 0;
	top: 0;
	bottom: 0;
}

#cratedigger {
	background-color: @black;
}


#artist-search {

	position: absolute;
	z-index: 20;
	background-color: @black;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: table;

	.input-container {
		width: 100%;
		display: table-cell;
		vertical-align: middle;

		input {
			transition: all 1s ease-in-out;
			margin: auto;
			width: 80%;
		}
	}

	// display: none;//

	
}

#bottom-bar {
	position: absolute;
	z-index: 10;
	background-color: rgba(17, 17, 17, 0.5);
	right: 0;
	bottom: 0;
	left: 0;
	height: @bottomBarHeight;
	width: 100%;
	display: table;
	color: @white;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
	table-layout: fixed;

	&.closed {
		bottom: -@bottomBarHeight;
	}

	.bottom-bar-item {
		display: table-cell;
		text-align: center;
		text-transform: uppercase;
		line-height: @bottomBarHeight;
		font-size: 30px;
		transition: all 0.15s ease-in-out;
		overflow: hidden;
		cursor: pointer;

		&:hover {
			background-color: @white;
			color: @black;
		}
	}
}

.cratedigger-label,
.cratedigger-label a {
	color: @white;
	text-transform: uppercase;
	font: 'Montserrat', sans-serif;
	font-size: 24px;
	text-decoration: none;
}

.track {
	width: @rightColumnWidth;
	height: 100%;
	position: relative;
}

.track-header {
	height: 110px;
	background-color: @white;
}

.track-cover {
	height: 262px;
	background-color: @gray;
}

.track-controls {
	height: 44px;
	background-color: @white;
}

.track-buttons {
	height: 112px;
	background-color: @gray;
}

.tastes {
	height: 180px;
	background-color: @white;
}

.footer {
	height: @bottomBarHeight;
	background-color: @gray;
}
